*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/333/037/non_2x/hand-drawn-ice-cream-seamless-pattern-vector.jpg);
}