/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/06/2021, 11:13:38 AM
    Author     : mercu
*/

body{
    background: url(https://i.pinimg.com/originals/22/b2/5a/22b25a961351b2e1faa9aa322dd387f7.jpg);
    color: #ffffff;
    text-align: center;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form{
    text-align: center;
    align-items: center;
}
table{
   border-radius: 10px;
   border: 3px solid #000000;
   font-weight: bold;
   background-image: linear-gradient(to top, #8D6B42, #4D3A24);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    border-radius: 10px;
}