*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-image: url(http://userscontent2.emaze.com/images/0849f2c3-fce2-4246-bdbc-f34f9dc363ab/ab6c7ece-9593-4232-98cb-7a5d10d48fe4.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
}


.body-container{
    padding-top: 100px;
}

.contImg{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.logoG{
    width: 80%;
    max-width: 1100px;
}

.linksAdminUsu{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.linkBot{
    padding: 20px;
    margin: 20px;
    background-color: black;
    color: white;
    border: 3px solid rgb(138, 115, 12);
    border-radius: 10px;
    font-weight: bold;
}

.linkBot:hover{
    border: 3px solid rgb(199, 170, 39);
    color: rgb(138, 115, 12);
}